#game-container 
{
	margin-top: 30px;
    display: flex;
    justify-content: space-around;    
}
#game-layer 
{
    position: relative;
    width: 500px;
    height: 500px;    
    border: 3px solid black;
    background-color: white;
}
.square 
{
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid black;
}

.red{
    background-color: red; 
}
.blue{
    background-color: blue; 
}

.green{
    background-color: green; 
}
.button
{
    background-color: chartreuse;
    color: black;
    font-size: 20px;
    margin-top: 5px;
}
#header
{
    text-align: center;    
}
#clock
{
    display: inline-block;
}
#control
{
    text-align: center;
    font-size: 20px;
}
#controlPanal
{
    background-color:rgb(124, 167, 202);  
    border-radius: 10px;    
    border: 5px double black;    
    padding: 20px;    
}
#bottom
{
    text-align: center;
}
.Panal
{   
    position:absolute;
    top: 300px;
    left: 100px;
    width: 300px;  
}
body
{
    font-family:cursive;
    background-color: rgb(158, 231, 255);    
    border: double 10px black;
    border-radius: 5px;
    padding-bottom: 5px;
}
.Back-Button
{
    display: block;
    width: fit-content;
    border: black solid 2px;
    border-radius: 5px;
    background-color: rgb(89, 166, 233);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:white;
    margin: 10px auto;
}