/*===========Main Body Zone=====================*/
.grid-container
{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 5px;
    margin-top: 10px;
}
.grid-container > div
{    
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    text-align: left;
    background-color:rgb(20, 17, 77);        
}
.footer
{
    grid-column: 1/span 3 ;   
}
.footer a
{
    text-decoration: none;    
}
#headerText
{
    text-align: center;
    border: white 10px ;
    border-style: groove;
    margin-left: 50px;
    margin-right: 50px;
    background-color:cornflowerblue;
}
body
{
    background-color: black;
    color:white ;
}
/* ============== Navigate Zone ================ */
.navigate
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;       
    background-color:rgb(47, 76, 121);
    position: relative;   
}
.navigate > div
{
    width: 150px;
    border: 5px solid rgb(176, 217, 255);
    border-radius: 10px;
    font-size: 20px;
    font-family: fantasy;
    text-align: center;    
    background-color:rgb(81, 108, 148);       
    margin-top: 10px;  
    margin-bottom: 10px;
    margin-left: 5px;
}
.navigate a
{
    color: white;
    text-decoration: none;
}
#nav
{
    grid-column: 1 / span 3;
}
/*====================== Contract Zone================= */
#FacebookLogo
{
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
#GmailLogo
{
    width: 20px;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
/* Assignment Zone */
.flex-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin: 10px auto;
    text-align: center;       
    justify-content: center;
      
}
.Chicken-Satay
{
    display: block;
    width: 40%;
    justify-content: center;
    border: solid 5px black;
    background-color: white;
    margin: 20px 20px;
}
.Chicken-Satay img
{
    width: 50%;
}
.Blog
{
    display: block;
    width: 40%;
    justify-content: center;
    border: solid 5px black;    
    background-color: white;
    margin: 20px 20px;
}
.Blog img
{
    width: 80%;
}
.Register
{
    display: block;
    width: 40%;
    justify-content: center;
    border: solid 5px black;  
    background-color: white;  
    margin: 20px 20px;
}
.Register img
{
    width: 80%;
}
.SquareGame
{
    display: block;
    width: 40%;
    justify-content: center;
    border: solid 5px black;   
    background-color: white; 
    margin: 20px 20px;
}
.SquareGame img
{
    width: 90%;
}
