/*===========Main Body Zone=====================*/
.grid-container
{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 5px;
    margin-top: 10px;
}
.grid-container > div
{    
    border: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    text-align: left;
    background-color:rgb(20, 17, 77);        
}
.profile
{
    grid-column: 1 / span 3;     
}
.project
{
    grid-column: 1 / span 3;
}
.assignment
{
    grid-column: 1 / span 3
}
.footer
{
    grid-column: 1/span 3 ;   
}
.footer a
{
    text-decoration: none;    
}
#headerText
{
    text-align: center;
    border: white 10px;
    border-style: groove;
    margin-left: 50px;
    margin-right: 50px;
    background-color:cornflowerblue;
}
body
{
    background-color: black;
    color:white ;
}
a
{
    text-decoration: none;
    color:white;
}
/* ============== Navigate Zone ================ */
.navigate
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;       
    background-color:rgb(47, 76, 121);
    position: relative;   
}
.navigate > div
{
    width: 150px;
    border: 5px solid rgb(176, 217, 255);
    border-radius: 10px;
    font-size: 20px;
    font-family: fantasy;
    text-align: center;    
    background-color:rgb(81, 108, 148);       
    margin-top: 10px;  
    margin-bottom: 10px;
    margin-left: 5px;
}
.navigate a
{
    color: white;
    text-decoration: none;
}
#nav
{
    grid-column: 1 / span 3;
}

/*====================== Profile Zone==================*/

#profilePic
{
    width: 25%;
    margin: 0px 50px;
}
.profileContent
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;    
}
.AboutMe
{
    display: block;
    width: 100%;
    height: fit-content;   
    margin: 20px 20px;      
    text-align: center;
}
.About
{     
    display: block;
    width: 30%;
    height: max-content;
    border: groove beige;
    justify-content: center;    
    margin: 20px 20px;      
    background-color: rgb(0, 0, 0);
}
#headerAbout
{
    text-align: center;
    background-color: deepskyblue;
}
.About img
{
    width: 50%;
    background-color: white;
}
/*====================== Contract Zone================= */
#FacebookLogo
{
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
#GmailLogo
{
    width: 20px;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
/*======================Project Zone========================*/
.container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin: 20px auto;
    text-align: center;       
    justify-content: center;
}
.SHATTERED
{
    display: block;
    width: 45%;    
    text-align: center;    
    margin: 20px 20px;
    
}
#SHATTERED_PIC
{
    width: 50%;
}
.SteelFlight
{
    display: block;
    width: 45%;    
    text-align: center;
    
    margin: 20px 20px;
}
#SteelFlight_PIC
{
    width: 50%;
}